* {
    font-family: monospace;
        }
.red {
    color: red;
}

h2 {
    color: blue;
}

.container {
    background-color: #FFFAFF;
    max-width: 730px;
    padding: 10px;
    margin: 0 auto;
}

img {
    width: 100%;
}
